<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".BarkaApplication"
        android:allowBackup="true"
        android:label="Barka Tunnel"
        android:supportsRtl="true"
        android:theme="@style/Theme.BarkaTunnel">

        <activity
            android:name=".account.LoginActivity"
            android:exported="false" />

        <activity
            android:name=".subscription.ActivationActivity"
            android:exported="false" />

        <activity
            android:name=".subscription.SubscriptionActivity"
            android:exported="false" />

        <activity
            android:name=".settings.SettingsActivity"
            android:exported="false" />

        <activity
            android:name=".journal.JournalActivity"
            android:exported="false" />

        <activity
            android:name=".ipfinder.IpFinderActivity"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

    </application>

</manifest>
