<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />

    <application
        android:icon="@drawable/ic_barka_logo"
        android:roundIcon="@drawable/ic_barka_logo"
        android:name=".BarkaApplication"
        android:allowBackup="true"
        android:extractNativeLibs="true"
        android:label="Barka Tunnel"
        android:supportsRtl="true"
        android:theme="@style/Theme.BarkaTunnel">

        <activity
            android:name=".account.LoginActivity"
            android:exported="false" />

        <activity
            android:name=".subscription.ActivationActivity"
            android:exported="false" />

        <activity
            android:name=".subscription.SubscriptionActivity"
            android:exported="false" />

        <activity
            android:name=".support.SupportActivity"
            android:exported="false" />

        <activity
            android:name=".settings.SettingsActivity"
            android:exported="false" />

        <activity
            android:name=".journal.JournalActivity"
            android:exported="false" />

        <activity
            android:name=".guide.GuideActivity"
            android:exported="false" />

        <activity
            android:name=".ipfinder.IpFinderActivity"
            android:exported="false" />

        <service
            android:name=".vpnc6.BarkaVpnService"
            android:exported="false"
            android:foregroundServiceType="specialUse"
            android:permission="android.permission.BIND_VPN_SERVICE">
            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="Barka Tunnel VPN connection" />
        </service>

        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

    </application>

</manifest>
